<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
<div class="container" style="margin-top: 100px">
    <a class="btn btn-primary" href="chooseStyle" role="button">多风格融合</a>
    <a class="btn btn-danger" href="vgg19">vgg19单一风格转换</a>
    <a class="btn btn-danger" href="vgg16">vgg16单一风格转换</a>
    <a class="btn btn-dark" href="change">训练模型对比</a>
    <a class="btn btn-dark" href="times">训练次数对比</a>
</div>

</body>
</html>