<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='css/bootstrap-select.min.js') }}"></script>
    <style>
        .wrap {
            margin: 100px auto;
            height: 500px;
        }
    </style>
</head>
<body>
<div class="container ">
    <div class="row wrap">
        <div class="col-xl-4">
            <label>
                <select class="selectpicker" data-style="btn-info" id="selectStyle">
                    <option>wave</option>
                    <option>candy</option>
                    <option>feathers</option>
                    <option>mosaic</option>
                    <option>cubist</option>
                    <option>painting</option>
                    <option>picasso</option>
                    <option>scream</option>
                    <option>udnie</option>
                    <option>denoised_starry</option>
                    <option>(39)</option>
                </select>
            </label>
            <img id="style">
        </div>
        <div class="col-xl-4">
            <div class="input-group mb-lg-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button">文件</button>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="contentImg"
                           onchange="showImg(this, 'content', '#content_label')">
                    <label id="content_label" class="custom-file-label" for="contentImg">img</label>
                </div>
            </div>
            <img id="content">
        </div>
        <div class="col-xl-4">
            <h2 class="h2">result</h2>
            <img src="" id="result">
        </div>
        <div style="text-align:center">
            <button id="btn" type="button" class="btn btn-primary btn-lg">转换</button>
            <a type="button" class="btn btn-primary btn-lg" href="index">返回</a>
        </div>
    </div>
</div>
<script>
    function showImg(file, img, labelId) {
        var $file = $(file);
        var fileObj = $file[0];
        $(labelId).html(fileObj.files[0].name);
        var reads = new FileReader();
        reads.readAsDataURL(fileObj.files[0]);
        var $img = $('#' + img)
        reads.onload = function (e) {
            document.getElementById(img).src = this.result;
            $img.attr('width', 360);
        };
    }

    $('#selectStyle').change(function (e) {
        var select = $(this);
        var imgName = select.val();

        var $img = $('#style');
        $img.attr('src', 'static/img/style/jpg/' + imgName + ".jpg");
        $img.attr('width', 360);
        $img.attr('alt', imgName)
    })

    $('#btn').click(function (e) {
        var style = $('#style')[0].alt;
        console.log(style);
        var content = $('#content')[0].src;
        console.log(content)

        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $.post($SCRIPT_ROOT + '/one-merge', {
            "style": style,
            'content': content
        }, function (data, status) {
            {#console.log(data, status)#}
            var $result = $("#result");
            $result.attr('src', data.result + "?s=" + (new Date()).getTime());
            {#console.log(data.result)#}
            $result.attr('width', 360);
        });
    })
</script>
</body>
</html>